*{
    margin: 0;
    padding: 0;
    /* background-color: rgb(196, 241, 241); */
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}
.inner-container h1{
    /* border: 2px solid red; */
    margin: auto;
    width: 470px;
    font-size: 50px;
    margin-top: 5vh;
}

.inner-container p{
    /* border: 2px solid red; */
    width: 50%;
    height: 60vh;
    font-size: 22px;
    float: right;
    margin-top: 100px;
}

.hero-img-div img{
    /* border: 2px solid red; */
    margin-top: 70px;
    margin-left: 100px;
    width: 400px;
}